<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {Meta}
    <link rel="stylesheet" href="/css/style.css">
    <title>{Title}</title>

</head>

<body class="padding-site">
    <div class="container">
        <div class='header'><div class="logo">{Logo}</div>{Navigation}</div>
        <div class="content">{Content}
         <hr>
         <h3>Login :  admin 1234 / teacher 1234</h3>
         <table><cpation>4 уровня доступа:</cpation>
            <tr><ul>
             <li>Администратор</li>
             <li>Преподаватель</li>
             <li>Студент</li>
                </ul></tr>
                <tr>У каждого свой функционал</tr>
                <tr>
                    <ul>
                        <li>Управление пользователями</li>
                        <li>Создание и проверка заданий</li>
                        <li>Выполнение заданий</li>
                    </ul>
                </tr>
         </table>
        </div>
        <div class="clear-fix"></div>
        <div class="clear"></div>
    </div>
    <div class="footer">{Foot}</div>
</body>
</html>