<form action="" method="post">
    <fieldset>
        <legend>Оставьте свой отзыв о нас</legend>
        <label>Ваше имя:
            <input type="text" name="fbName" width="15" maxlength="15" placeholder="Имя 'алфавит'" required>
        </label>
        <label>Ваш отзыв:
            <textarea name="fbText" cols="50" rows="1" maxlength="800" required placeholder="максимум 800 символов"></textarea>
        </label>
        <input type="submit" value="Добавить">
        <input type="reset" value="Очистить"> </fieldset>
</form>