<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Добавление нового изображения товара</legend>
        <label>Название товара на изображении:
            <input type="text" name="nameProduct" width="15" maxlength="45" required>
        </label>
        <label>Загрузить изображение:
            <input type="file" name="imageFile" accept="image/jpeg,image/png,image/gif" required>
        </label>
<input type="hidden" name="account" value="10">
        <input type="submit" value="Добавить">
        <input type="reset" value="Очистить"> </fieldset>
</form>