<h3>Заказ номер: {Order_id}</h3>
<table>
    <caption>Заказчик:</caption>
    <tr>
        <td>Имя</td>
        <td>{Firstname}</td>
    </tr>
    <tr>
        <td>Отчетсво</td>
        <td>{Middlename}</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>{Surname}</td>
    </tr>
</table>
<table>
    <caption>Адрес доставки:</caption>
    <tr>
        <td>Индекс</td>
        <td>{postCode}</td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>{Address}</td>
    </tr>
        <tr>
        <td>Дополнительная информация курьеру</td>
        <td>{addInfo}</td>
    </tr>
</table>
{order_list}