<div id="openedProduct-img">
               <img src="{img}" alt="product_{id}">
            </div>


            <div id="openedProduct-content">
                <h1 id="openedProduct-name">
                   {Name}
                </h1>
                <div id="openedProduct-desc">
                  {Description}
                </div>
                <div id="openedProduct-price">
                  Цена: {Price} {Currency}
                </div>
            </div>
     <hr>       
<form action="" method="post"> <input type="hidden" name="account" value="3"><input type="submit" value="Добавить в корзину"></form>
