<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Добавление нового пользователя</legend>
           <label>Имя для входа:
            <input type="text" name="newLogin" width="15" maxlength="15" required placeholder="Логин 'алфавит и цифры'"> </label><br>
        <label>Пароль для входа:
            <input type="password" name="newPass" maxlength="10" required placeholder="Новый пароль 'цифры и алфавит'" width="10"> </label><br>
            <label>Эл почта:
            <input type="email" name="newEmail" maxlength="25" required placeholder=" Ваш email" width="10"> </label> 
            <label>Подтверждена: <input type="radio" name="newConfirm" maxlength="1" value="1">Да  
            <input type="radio" name="newConfirm" maxlength="1" value="1">Нет</label><br>
            <label>Доступ : <input type="radio" name="newPriv" maxlength="1" value="0">Клиент
            <input type="radio" name="newPriv" maxlength="1" value="1">Администратор</label><br>
        <input type="hidden" name="new" value="1">
        <input type="submit" value="Добавить">
        <input type="reset" value="Очистить"> </fieldset>
</form>