<html>

<head>
    <meta charset="UTF-8">
    <title>
        <?=$title?>
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css"> </head>

<body class="padding-site">
    <div class="container">
        <header>
            <div class="logo">
                <?=$title?>
            </div>
            <nav class="Wrap">
                <?=$menu?>
            </nav>
        </header>
        <div class="content">
            <?=$content?>
        </div>
        <div class="clear-fix"></div>
        <div class="clear"></div>
    </div>
    <footer>
        <?=$footer?>
    </footer>
</body>

</html>
