
                <div class="imageWrapFull">
                   
                    <div class="imageName">
                      <a href="?like=1&id=<?=$imgId?>" class="buttonLike"><span class="icon-heart"></span></a> <?=$name?> - автор: <?=$author?>
                    </div>
                    <img src="<?=$path?>">


                    <div class="viewsNumber">
                       Views: <?=$visited?>
                    </div>
                    <div class="likesNumber">
                        Likes: <?=$liked?>
                    </div>
                    
                </div>