* {
    margin: 0;
    padding: 0;
}
.test {
    font-size: 10px;
    color: limegreen;
    text-align: center;
}
@media screen and (max-width: 644px) {
    .padding-site {
        padding-left: 0;
        padding-right: 0;
    }
    .content .middle img {
        width: 150px;
    }
    .SiteHeading {
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;
        color: silver;
        text-shadow: 1px 1px 2px black, 0 0 1em silver;
        font-size: 36px;
    }
    .header p {
   font-size: 12px;
    color: floralwhite;
    background-color: dimgray;
    text-shadow: 1px 1px 2px black, 0 0 1em silver; 
    }
    .introMsg {    
        width: 300px;
        margin: 0 auto;
        font-size: 12px;
        padding-left: 2%;
                padding-top: 1%;
                box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
                background-color: whitesmoke;
    }
    .introMsg ul {
    width: 280px;
    margin: 0 auto;
    }
    .introMsg ul li {
        font-size: 10px;
        color: lightslategrey;
    }
    .authorisation {
                width: 400px;
                margin: 5% auto;
                display: block;
                padding-top: 1%;
                box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
                background-color: whitesmoke;
    }
}

@media screen and (min-width: 645px) {
    .padding-site {
        padding-left: 10%;
        padding-right: 10%;
    }
    .content .middle img {
        width: 300px;
    }
    .SiteHeading {
        text-transform: uppercase;
        text-align: center;
        line-height: 56px;
        color: silver;
        text-shadow: 1px 1px 2px black, 0 0 1em silver;
        font-size: 56px;
    }
    .header p {
        text-align: center;
   font-size: 14px;
    color: floralwhite;
    background-color: dimgray;
    text-shadow: 1px 1px 2px black, 0 0 1em silver; 
    }
    .introMsg {    
        width: 400px;
        font-size: 14px;
        margin: 0 auto;
        padding-left: 2%;
                padding-top: 1%;
                box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
                background-color: whitesmoke;
    }
        .introMsg ul {
    width: 270px;
    margin: 0 auto;
    }
    .introMsg ul li {
        font-size: 12px;
        color: lightslategrey;
    }
    .authorisation {
                width: 400px;
                margin: 10% auto;
                display: block;
                padding-top: 1%;
                box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
                background-color: whitesmoke;
    }
}

body,
html {
    height: 100%;
    min-width: 470px;
}

.clear-fix:after {
    clear: both;
    display: table;
    content: "";
}

.clear {
    height: 20px;
}


/*        Заголовок        */


.header {
    position: relative;
    height: 70px;
    background-color: whitesmoke;
    padding-top: 1%
}

.header .logo {
}



/*            Контент                  */

.container {
    min-height: 100%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px #CCC;
}

.container .content {
    width: 90%;
    margin: 0 auto;
}

            .content .middle img {
                float: left;
                margin-right: 50px;
            }
            .content .middle h3 {
                text-align: center;
            }
            .content .top-content, .authWrap {
                margin-top: 5px;
            }




form fieldset, legend {
                background-color: beige;
                font-size: 12px;
                padding-left: 10px;
}
form legend {
    padding-right: 10px;
}
form input:last-child {
                margin-bottom: 3px;
}
form label {
    margin-left: 10px;
}

.authorisation {
                width: 400px;
                margin: 10% auto;
                display: block;
                padding-top: 1%;
                box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
                background-color: whitesmoke;
}

.authorisation legend {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    background-color: whitesmoke;
}

.authorisation label {
    margin-left: 15px;
    font-size: 20px;
    color: brown;
}
.authorisation a {
    margin-left: 5%;
    
}
.regButton {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: skyblue;
}
.regButton:hover {
    color: blue;
}

.errorMsg {
    width: 350px;
    margin: 0 auto;
    color: red;
    text-align: center;
    
}
.successMsg {
    width: 350px;
    margin: 0 auto;
    color: green;
    text-align: center;
    
}

.questionsCreateButtons {      
    border-collapse: collapse;
    font-size: 14px;
    margin: 0 5px;
}

.buttonsBasket {
    border-collapse: collapse;
    font-size: 14px;
    margin: 0 5px;
}

.Delete {
    color: red;
}

.Tables {
        width: 100%;
        border-collapse: collapse;
		border-spacing: 2px;
}

.Tables td {
    width: auto;
    border: 1px solid #000;
    text-align: center;
}


ol {
    margin-left: 10px;
}

/*            Подвал                   */

.footer {
    height: 20px;
    margin-top: -20px;
    padding-left: 15px;
    font-size: 14px;
    color: floralwhite;
    background-color: dimgray;
    clear: both;
    text-shadow: 1px 1px 2px black, 0 0 1em silver;
}