    @font-face {
        font-family: 'icomoon';
        src: url('fonts/icomoon.eot?bxblir');
        src: url('fonts/icomoon.eot?bxblir#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?bxblir') format('truetype'), url('fonts/icomoon.woff?bxblir') format('woff'), url('fonts/icomoon.svg?bxblir#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
    
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-compass:before {
        content: "\e949";
    }
    
    .icon-mail2:before {
        content: "\ea84";
    }
    
    .icon-google-plus:before {
        content: "\ea8b";
    }
    
    .icon-facebook:before {
        content: "\ea90";
    }
    
    .icon-telegram:before {
        content: "\ea95";
    }
    
    .icon-twitter:before {
        content: "\ea96";
    }
    
    .icon-pinterest:before {
        content: "\ead1";
    }
    
    .icon-pinterest2:before {
        content: "\ead2";
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body, html {
        height: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    
    .clear-fix:after {
        clear: both;
        display: table;
        content: "";
    }
    
    .padding-site {
        padding-left: 98px;
        padding-right: 98px;
    }
    
    .container {
        width: 1366px;
        min-height: 100%;
        margin: 0 auto;
    }
    
    .slider {
        height: 800px;
        background-image: url(images/bgbody.jpg);
        position: relative;
    }
    
    .header {
        height: 45px;
        padding-top: 63px;
    }
    
    .menu {
        float: right;
    }
    
    .menu-list {
        list-style-type: none;
        float: left;
    }
    
    .menu-link {
        color: #8c8c8c;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 13px;
    }
    
    .menu-link:hover {
        color: #212121;
        border-bottom: 3px solid #212121;
    }
    
    .menu-link:active {
        color: darkblue;
    }
    
    .menu-link-active {
        color: #212121;
        border-bottom: 3px solid #212121;
    }
    
    .slider-text {
        margin-top: 283px;
    }
    
    .slider-trending {
        color: #43a047;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .slider-h2 {
        color: #212121;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 0px;
    }
    
    .slider-content {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        width: 473px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .button {
        color: #212121;
        font-size: 18px;
        text-transform: uppercase;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background-color: #ffffff;
        width: 212px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3.6px;
    }
    
    .button:active {
        box-shadow: none;
    }
    
    .button:hover:after {
        content: ">";
        margin-left: 11px;
    }
    
    .pagination {
        position: absolute;
        width: 1170px;
        bottom: 19px;
        text-align: center;
    }
    
    .circle {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: #c7c7c7;
        border-radius: 50%;
        margin: 5px;
    }
    
    .circle-active {
        width: 40px;
        height: 40px;
        background-color: #212121;
        margin-bottom: 0;
    }
    
    .circle:hover {
        background-color: #212121;
    }
    
    .circle:active {
        width: 40px;
        height: 40px;
        background-color: #212121;
        margin-bottom: 0;
    }
    /*  Подвал сайта     */
    
    .clr {
        height: 384px;
    }
    
    .footer {
        width: 1366px;
        height: 264.02px;
        background-color: #f7f7f7;
        margin: -384px auto 0;
        padding-top: 120px;
    }
    
    .heading {
        color: #6c6c6c;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }
    
    .contacts {
        float: left;
        margin-left: 98px;
    }
    
    .contacts > p {
        width: 221px;
        height: 102px;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
        font-weight: 300;
        letter-spacing: 0px;
        margin-top: 24px;
    }
    
    .information {
        float: left;
        margin-left: 81px;
    }
    
    .blockinfo1 {
        float: left;
        width: 132px;
        height: 62px;
        margin-top: 25px;
    }
    
    .blockinfo2 {
        width: 187px;
        height: 63px;
        margin-top: 25px;
        margin-left: 234px;
    }
    
    .infoList {
        list-style-type: none;
    }
    
    .infoList > a {
        text-decoration: none;
        font-size: 14px;
        line-height: 26px;
        color: #212121;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }
    
    .infoList > a:hover {
        color: #6c6c6c;
    }
    
    .feedback {
        float: left;
        margin-left: 78px;
    }
    
    .feedback > p {
        margin-top: 24px;
        width: 363px;
        height: 36px;
        color: #212121;
        font-size: 14px;
        line-height: 22px;
        font-family: Montserrat;
        font-weight: 300;
    }
    
    .emailInput {
        float: left;
        border: 1px solid #d9dee1;
        background-color: #ffffff;
        margin-top: 26px;
        width: 370px;
        height: 48px;
    }
    
    .emailInput input {
        color: #6c6c6c;
        line-height: 22px;
        font-size: 14px;
        border: none;
        width: 316px;
        height: 48px;
        padding-left: 19px;
    }
    
    .emailInput span {
        display: block;
        float: right;
        margin-top: 16px;
        margin-right: 14px;
        width: 21px;
        height: 17px;
        color: #6c6c6c;
        font-size: 22px;
        line-height: 22px;
    }
    
    .emailInput span:hover {
        color: black;
    }
    
    .emailInput input:focus {
        outline: none;
    }
    
    .copyright {
        float: left;
        color: #6c6c6c;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-top: 69px;
        margin-left: 98px;
    }
    
    .socials {
        width: 129px;
        height: 28px;
        float: left;
        margin-top: 59px;
        margin-left: 158px;
        margin-bottom: 0;
    }
    
    .socialbutton {
        width: 28px;
        height: 28px;
        color: #f7f7f7;
        text-decoration: none;
        text-align: center;
        letter-spacing: 5.6px;
        display: inline-block;
        background-color: #6c6c6c;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .socialbutton:hover {
        background-color: #212121;
    }
    
    .socialbutton span {
        display: block;
        margin-top: 6.5px;
        letter-spacing: 0;
        font-weight: 600;
    }
    
    .terms {
        float: left;
        margin-top: 67px;
        margin-left: 172px;
        font-size: 12px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }
    
    .terms a {
        display: inline-block;
        text-decoration: none;
        color: #6c6c6c;
    }
    
    .terms a:hover {
        color: #212121;
    }
    /*  Страничка Contact     */
    
    .slider-product {}
    
    .contactContainer {
        width: 1366px;
        background-color: #f9f4f1;
    }
    
    .slider-contact {
        height: 516px;
        background-image: url(images/back-img-contact.jpg);
        background-size: contain;
        position: relative;
    }
    
    .slider-text-contact {
        padding-top: 86px;
    }
    
    .slider-trending-contact {
        color: #6c6c6c;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.9px;
    }
    
    .slider-h2-contact {
        color: #212121;
        font-size: 62px;
        font-weight: 100;
        line-height: 72px;
        text-transform: uppercase;
        letter-spacing: 0px;
        margin-top: 11px;
    }
    
    .slider-content-contact {
        color: #6c6c6c;
        font-size: 22px;
        letter-spacing: 0px;
        width: 436px;
        margin-top: 13px;
    }
    
    .buttomImg {
        width: 135px;
        height: 40px;
        display: inline-block;
        text-decoration: none;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 5px;
        margin-top: 17px;
    }
    
    .buttonApp {
        background-image: url(images/app-store.jpg);
    }
    
    .buttonGoogle {
        background-image: url(images/google-play.jpg);
    }
    
    .buttomImg:active {
        box-shadow: none;
    }
    
    roduct .prodUnit:nth-child(6) {
        background-image: url(images/products/1/product-6.jpg);
    }
    
/*  Страничка Products     */
    
    .clr-product {}
    .headerProduct {
        margin-bottom: 30px;
        padding-left: 98px;
        padding-right: 98px;
        background-color: #f7f7f7;
    }
    .slider-product {
        height: 800px;
        position: relative;
    }
    
    .slider-product .prodUnit:hover {
        opacity: .5;
    }
    
    .headingProd {
        margin-top: 60px;
        margin-bottom: 34px;
    }
    
    .headingProd h2 {
        float: left;
        color: #212121;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        margin-left: 15px;
    }
    
    @media screen and (min-width: 1000px) {
        .slider-product .prodUnit {
            display: block;
            float: left;
            width: 30%;
            height: 370px;
            margin: 15px 15px;
        }
        .slider-product .prodUnit:nth-child(1) {
            background-image: url(images/products/2/product-1.jpg);
        }
        .slider-product .prodUnit:nth-child(2) {
            background-image: url(images/products/2/product-2.jpg);
        }
        .slider-product .prodUnit:nth-child(3) {
            background-image: url(images/products/2/product-3.jpg);
        }
        .slider-product .prodUnit:nth-child(4) {
            background-image: url(images/products/2/product-4.jpg);
        }
        .slider-product .prodUnit:nth-child(5) {
            background-image: url(images/products/2/product-5.jpg);
        }
        .slider-product .prodUnit:nth-child(6) {
            background-image: url(images/products/2/product-6.jpg);
        }
        .clr-product {
            height: 455px;
        }
        .headingProd a {
            float: right;
            text-decoration: none;
            font-size: 9px;
            line-height: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #212121;
            letter-spacing: 1.8px;
            margin-top: 9px;
            margin-right: 42px;
        }
        .headingProd a:hover {
            color: #6c6c6c;
        }
        .headingProd a:hover:after {
            content: ">";
            margin-left: 6px;
        }
    }
    
    @media screen and (max-width: 999px) {
        .slider-product {
            width: 650px;
        }
        .slider-product .prodUnit {
            display: block;
            float: left;
            width: 185px;
            height: 185px;
            margin: 15px 15px;
        }
        .slider-product .prodUnit:nth-child(1) {
            background-image: url(images/products/1/product-1.jpg);
        }
        .slider-product .prodUnit:nth-child(2) {
            background-image: url(images/products/1/product-2.jpg);
        }
        .slider-product .prodUnit:nth-child(3) {
            background-image: url(images/products/1/product-3.jpg);
        }
        .slider-product .prodUnit:nth-child(4) {
            background-image: url(images/products/1/product-4.jpg);
        }
        .slider-product .prodUnit:nth-child(5) {
            background-image: url(images/products/1/product-5.jpg);
        }
        .slider-product .prodUnit:nth-child(6) {
            background-image: url(images/products/1/product-6.jpg);
        }
        .clr-product {
            height: 90px;
        }
        .headingProd a {
            float: right;
            text-decoration: none;
            font-size: 9px;
            line-height: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #212121;
            letter-spacing: 1.8px;
            margin-top: 9px;
            margin-right: 22px;
        }
        .headingProd a:hover {
            color: #6c6c6c;
        }
        .headingProd a:hover:after {
            content: ">";
            margin-left: 6px;
        }
    }

    /*  СТраничка Showroom    */
    
    .showroomhead {
        margin-bottom: 30px;
        padding-left: 98px;
        padding-right: 98px;
        background-color: #f7f7f7;
    }
    
    .slider-showroom {
        height: 800px;
        position: relative;
    }
    
    .showroom {
        float: left;
        width: 570px;
        height: 570px;
        background-image: url('/images/showroom/1/product-1-lg.jpg');
    }
    
    .showroom .showroomContent {
        margin-top: 30px;
        padding-left: 16px;
    }
    
    .showroom .slider-trending-showroom {
        color: #1e88e5;
        font-size: 18px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-top: 166px;
    }
    
    .showroom .showroom-h2 {
        color: #212121;
        font-size: 36px;
        letter-spacing: 0px;
    }
    
    .showroom .showroom-content {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24.04px;
        width: 340px;
        margin-top: 12px;
        margin-bottom: 17px;
    }
    
    .showroom .button-showroom {
        color: #212121;
        font-size: 18px;
        text-transform: uppercase;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background-color: #ffffff;
        width: 212px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3.6px;
        margin-top: 17px;
    }
    
    .showroom .button-showroom:active {
        box-shadow: none;
    }
    
    .showroom .button-showroom:hover:after {
        content: ">";
        margin-left: 11px;
    }
    
    .clr-showroom {
        height: 180px;
    }
    
    .Unitcontainer {}
    
    .Unitcontainer .showroomUnit:hover {
        opacity: .6;
    }
    
    .Unitcontainer .showroomUnit {
        display: block;
        float: left;
        width: 270px;
        height: 270px;
        margin: 15px 15px;
    }
    
    .Unitcontainer .showroomUnit:nth-child(1) {
        background-image: url('images/showroom/2/product-2-sm.jpg');
        margin-top: 0px;
    }
    
    .Unitcontainer .showroomUnit:nth-child(2) {
        background-image: url('images/showroom/2/product-3-sm.jpg');
        margin-top: 0px;
    }
    
    .Unitcontainer .showroomUnit:nth-child(3) {
        background-image: url('images/showroom/2/product-4-sm.jpg');
    }
    
    .Unitcontainer .showroomUnit:nth-child(4) {
        background-image: url('images/showroom/2/product-5-sm.jpg');
    }
    /*        History     */
    
    .clr-history {
        height: 420px;
    }
    
    .containerHistory {
        width: 1172px;
        height: 370px;
        position: relative;
    }
    
    .containerHistory .headingHistory {}
    
    #exoploreAll {
        float: right;
        text-decoration: none;
        font-size: 9px;
        line-height: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #212121;
        letter-spacing: 1.8px;
        margin-top: 9px;
        margin-right: 42px;
    }
    
    #exoploreAll:hover {
        color: #6c6c6c;
    }
    
    #exoploreAll:hover:after {
        content: ">";
        margin-left: 6px;
    }
    
    .headingHistory a:nth-child(1) {
        float: left;
        color: #212121;
        width: 168px;
        height: 48px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        text-decoration: none;
    }
    
    .activeHistory {
        border-bottom: 4px solid #212121;
    }
    
    .headingHistory a:nth-child(2) {
        float: left;
        width: 150px;
        height: 51px;
        color: #6c6c6c;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        text-decoration: none;
    }
    
    .headingHistory a:nth-child(2):hover {
        border-bottom: 1px solid #6c6c6c;
    }
    
    .containerHistory .slider-history {
        margin-top: 36px;
    }
    
    .history {
        width: 270px;
        height: 270px;
        margin-right: 15px;
        float: left;
    }
.historyHover {
    width: 270px;
    height: 270px;
}
    .history a {
        float: left;
        display: block;
        width: 270px;
        height: 270px;
        opacity: 0;
        text-decoration: none;
        background-image: url('/images/history/back.png');
    }
    
    .history:nth-child(1) {
        background-image: url('/images/history/product-1.jpg');
    }
    
    .history:nth-child(2) {
        background-image: url('/images/history/product-2.jpg');
    }
    
    .history:nth-child(3) {
        background-image: url('/images/history/product-3.jpg');
    }
    
    .history:nth-child(4) {
        background-image: url('/images/history/product-4.jpg');
    }
    
    .history a:hover {
        opacity: 0.9;
    }
    
    .buttonCircle {
        text-align: center;
        font-size: 40px;
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        margin-top: 62px;
        margin-left: 112px;
    }
    
    .buttonCircle:hover:after {
        content: ">";
    }
    
    .buttonCircle:active {
        color: #6c6c6c;
        box-shadow: none;
    }
    
    .history a h2 {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0px;
        color: #212121;
        font-weight: 700;
        margin-left: 64px;
        margin-top: 10px;
    }
    
    .history a p {
        width: 214px;
        font-size: 14px;
        line-height: 21.92px;
        letter-spacing: 0px;
        text-align: center;
        color: #212121;
        font-weight: 300;
        margin-left: 32px;
        margin-top: 12px;
    }
    /*   Promo.html  */
    
    .clr-promo {
        height: 384px;
    }
    
    .containerPromo {
        width: 1166px;
        position: relative;
    }
    
    .headingPromo a:nth-child(2) {
        float: left;
        color: #212121;
        width: 150px;
        height: 48px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        text-decoration: none;
    }
    
    .headingPromo a:nth-child(1) {
        float: left;
        width: 168px;
        height: 51px;
        color: #6c6c6c;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        text-decoration: none;
    }
    
    .headingPromo a:nth-child(1):hover {
        border-bottom: 1px solid #6c6c6c;
    }
    
    .slider-promo {
        width: 1366px;
        height: 683px;
        margin-top: 30px;
    }
    
    .slider-promo .promoUnit {
        float: left;
        width: 683px;
        height: 683px;
    }
    
    .slider-promo .promoUnit:nth-child(1) {
        background-image: url('/images/history/promo-img1.jpg');
    }
    
    .slider-promo .promoUnit:nth-child(2) {
        background-image: url('/images/history/promo-img2.jpg');
    }
    
    .promoUnit .slider-trending-promo {
        color: #1e88e5;
        font-size: 18px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-top: 228px;
        margin-left: 42px;
    }
    
    .promoUnit .promo-h2 {
        color: #212121;
        font-size: 36px;
        letter-spacing: 0px;
        margin-left: 42px;
    }
    
    .promoUnit .propmo-content {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24.04px;
        width: 382px;
        margin-left: 42px;
        margin-top: 12px;
        margin-bottom: 17px;
    }
    
    .button-promo {
        color: #212121;
        font-size: 18px;
        text-transform: uppercase;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background-color: #ffffff;
        width: 212px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3.6px;
        margin-top: 17px;
        margin-left: 42px;
    }
    
    .button-promo:active {
        box-shadow: none;
    }
    
    .button-promo:hover:after {
        content: ">";
        margin-left: 11px;
    }