<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta name="description" content= "Разработка сайтов и вэб-приложений"> <meta name="keywords" content="верстка,программирование,php,html,css,Ajax,mysql,динамические сайты,готовые сайты,сайт,адаптивная верстка,верстка php,базы данных,веб приложения,купить сайт,исходник сайта,код php,верстка сайта,адаптивная верстка,разработка сайтов,верстка,сайт под ключ,программирование,php,вэб-разработчик,бэкэнд,вэб приложения,вэб-приложения,веб приложения,сайты на drupal,сайты на joomla"> <meta name="author" content="webpeternet.com">
    <script src="scripts/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/scripts/scripts.js"></script>