<form action="" method="post">
    <fieldset>
        <legend>Авторизация на сайте</legend>
        <label>Логин:
            <input type="text" name="userLogin" width="15" maxlength="15" required placeholder="алфавит и цифры"> </label><br>
        <label>Пароль:
            <input type="password" name="userPass" maxlength="10" required placeholder="цифры и алфавит" width="10"> </label>
        <input type="submit" value="Войти"></fieldset><a href="/?page=4&auth=new" class="regButton">Регистрация</a></form>
        
       <tr class="headTask">