<form action="/" method="post">
    <fieldset>
        <legend>Регистрация на сайте</legend>
        <label>Имя для входа:
            <input type="text" name="newLogin" width="15" maxlength="15" required placeholder="Логин 'алфавит и цифры'"> </label><br>
        <label>Пароль для входа:
            <input type="password" name="newPass" maxlength="10" required placeholder="Новый пароль 'цифры и алфавит'" width="10"> </label><br>
            <label>Эл почта:
            <input type="email" name="newEmail" maxlength="25" required placeholder=" Ваш email" width="10"> </label><p>: <input type="text" name="surname" placeholder="Фаимлия" required> : <input type="text" name="name" placeholder="Имя" required> :<input type="text" name="middlename" placeholder="Отчество" required></p>
        <input type="submit" value="Регистрация">
        <input type="reset" value="Очистить"></fieldset><a href="/?page=4" class="regButton">Вход</a></form>
        
        