<form action="" method="post">
    <fieldset class="authorisation">
        <legend>Регистрация на сайте</legend>
        <label>Имя для входа:
            <input type="text" name="newLogin" maxlength="15" required placeholder="login"> </label><br>
        <label>Пароль для входа:
            <input type="password" name="newPass" maxlength="10" required placeholder="*********"> </label><br>
            <label>Эл почта:
            <input type="email" name="newEmail" maxlength="25" required placeholder="email" width="10"> </label>
        <input type="submit" value="Регистрация">
 <br><a href="/" class="regButton">Вход</a></fieldset></form>
 