<form action="" method="post">
    <fieldset>
        <legend>Добавление нового пользователя</legend>
           <label>Имя для входа:
            <input type="text" name="nLogin" width="15" maxlength="15" required placeholder="Логин 'алфавит и цифры'"> </label><br>
        <label>Пароль для входа:
            <input type="password" name="nPass" maxlength="10" required placeholder=" 'цифры и алфавит'" width="10"> </label><br>
            <label>Эл почта:
            <input type="email" name="nEmail" maxlength="25" required placeholder=" Ваш email" width="10"> </label> 
            <label>Подтверждена: <input type="radio" name="nConfirm" maxlength="1" value="1">Да  
            <input type="radio" name="nConfirm" maxlength="1" value="1">Нет</label><br>
            <label><input type="radio" name="nPriv" maxlength="1" value="0">Студент <input type="radio" name="nPriv" maxlength="1" value="1">Преподаватель <input type="radio" name="nPriv" maxlength="1" value="2">Администратор</label><br>
            
        <input type="hidden" name="new" value="1">
        <input type="submit" value="Добавить">
        <input type="reset" value="Очистить"> </fieldset>
</form>