<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {Meta}
    <link rel="stylesheet" href="/css/style.css">
    <title>{Title}</title>
</head>

<body class="padding-site">
    <div class="container">
        <div class='header'>
    <div class="logo">{Logo}</div>{Navigation}
       </div>         <div class="clear-fix"></div>
        <div class="content">
        <div class="introMsg">
        <ul>
            <li>Создание, прохождение анкет онлайн</li>
             <li>Установлю на ваш хостинг</li>
            <li>Верстка внешнего оформления по вашему вкусу</li>
            <li>Доработка функционала по желанию</li>
            <li>Заказать исходники по почте:<a href="mailto:info@webpeternet.com" rel="nofollow">info@webpeternet.com</a></li>
        </ul>
        </div>
           <div class="authWrap">{Authorisation}</div>
            {Content}
        </div>
        <div class="clear-fix"></div>
        <div class="clear"></div>
    </div>
    <div class="footer">{Foot}</div>
</body>

</html>