<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {Meta}
    <link rel="stylesheet" href="/css/style.css">
    <title>{Title}</title>
</head>

<body class="padding-site">
    <div class="container">
        <div class='header'>
    <div class="logo">{Logo}</div>{Navigation}
       </div> 
        <div class="content">
           <div class="authWrap">{Authorisation}</div>
            {Content}
        </div>
        <div class="clear-fix"></div>
        <div class="clear"></div>
    </div>
    <div class="footer">{Foot}</div>
</body>

</html>