<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Анкеты онлайн">
<meta name="keywords" content="купить сайт,анекты,онлайн анкета,проходить анкеты,сайт анкет,создать анкету,верстка сайтов,адаптивная верстка,разработка сайтов,верстка,сайт под ключ,программирование,php,вэб-разработчик,бэкэнд">
<meta name="author" content="Mileshko Petr">
<meta name="robots" content="index, follow">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/scripts/scripts.js"></script>